.login{
    color: rgb(97, 95, 95);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: auto;
    -moz-overflow-scrolling: auto;
    scroll-snap-points-x: repeat(20%);
    scroll-snap-type: x mandatory;
    scroll-snap-type:  mandatory;
    background-color: rgb(255, 255, 255);
    overflow-y: hidden!important;
}
.login > div {
    /* make sure the width is honored */
    flex-shrink: 0;
    width: 100%;
    height: 100vh;
    margin-bottom: 1rem;
    padding-top: 6.5rem;
    scroll-snap-align: start;
  }
.slide_1{
    background-color: rgb(255, 255, 255);
}
.slide_2{
    background-color: rgb(255, 255, 255);
}
.slide_3{
    background-color: rgb(255, 255, 255);
}
  
.proceed{
    width: 15rem;
    border: none;
    height: 2rem;
    color: rgb(255, 255, 255);
    margin-top: 2rem;
    font-size: .9rem;
    border-radius: 1rem;
    background-color: rgba(35, 7, 53, 0.973);
}
.proceed:hover{
    background-color: rgba(230, 223, 235, 0.096);
}
.bottomNav{
    height: 15vh!important;
    padding-top: .5rem!important;
    bottom: 5%;
    position: fixed;
}
.topNav{
    color: rgb(190, 189, 189);
    height: 10vh!important;
    position: fixed;
    padding-top: .2rem!important;
}
.content{
    margin-top: 2rem;
    width: 100vw;
}
.content > h4{
    color: rgb(44, 8, 61);
    margin-top: 3rem;
    margin-bottom: 1rem;
}
.intImage{
    width: 50%;
}
/* The progress container (grey background) */
.progress-container {
    width: 20%;
    height: 5px;
    background: #ccc;
    margin-top: 0rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: .5rem;
  }
  .notifications{
    color: rgb(190, 189, 189);
      margin-left: 1rem;
      margin-right: .5rem;
      margin-top: .5rem;
      border-radius: 1.5rem;
      border: .2rem solid rgb(128, 128, 128)
  }
  /* The progress bar (scroll indicator) */
  .progress-bar {
    width: 0%;
    height: 5px;
    border-radius: .5rem;
    background: #1a8ff0;
  }
