.headspace{
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  top: 3.5rem;
}
.menuhead{
    display: block;
    width: 100%;
    background-color:  rgb(255, 255, 255)!important;
    padding-top: .8rem;
    margin-right: auto;
    margin-left: auto;
    transition: .5s;
  }
  .menubut_cont{
    width: 100%;
    height: 4.5rem;
    margin-top: 1.1rem;
    margin-right: 0rem;
    background-color: rgba(238, 238, 238, 0);
    overflow: hidden;
  }
  .menubut{
    color: #ffffff;
    cursor: default;
    display: inline-block;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .5rem;
    width: 4.5rem;
    margin-top: .1rem;
    border: none;
    background-color: rgba(238, 238, 238, 0);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
  }
  .menubut p{
    margin-top: .2rem;
    font-size: .735rem;
  }
  .menubut_active p{
    margin-top: .2rem;
    font-size: .735rem;
  }
  
  .fas{
    color: white;
  }
  .fas:hover{
    color: #ffffff!important;
  }
  .fab:hover{
    color: #ffffff!important;
  }
  .menubut:hover{
    color: #ffffff!important;
    border-radius: .5rem;
    background-color: rgba(255, 255, 255, 0.336);
  }
  .vpn_up{
    left: 0px;
    position: absolute;
    visibility: visible;
    top: 8.5rem;
    width: 100%;
    height: 100vh;
    text-align: left;
    margin-top: 1.2rem;
    padding: 0;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  .vpn_down{
    visibility: hidden;
  }
  .vpn_thumbs{
    width: 5rem;
    display: inline-block;
    margin-right: .5rem;
    margin-left: .5rem;
  }
  .vpn_thumbs:hover{
    filter: grayscale(90%);
    transition: 0.5s;
  }
  /*=============================================
      NEWS SECTION
    =============================================
  */
.news{
  width: 95%;
  height: auto;
  border: none;
  padding-top: 0rem;
  padding-bottom: .5rem;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: .2rem;
  overflow-y: auto;
  background-color: rgba(240, 238, 240, 0);
}
.tab_one{
  width: 98%;
  height: auto;
  overflow: hidden;
  padding-bottom: 0;
  font-size: .8rem;
  text-align: left;
  margin-top: .85rem;
  margin-left: .25rem;
  margin-right: .25rem;
  border-radius: .2rem;
  display: inline-table;
  color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.1);
}
.N1{
  background-image: linear-gradient(to bottom right, #f67280 , #c06c84);
}
.N2{
  background-image: linear-gradient(to bottom right, #45eba5 , #21aba5);
}
.N3{
  background-image: linear-gradient(to bottom right, #113f67 , #34699a);
}
.left{
  width: 60%;
  padding: .5rem;
  float: left;
}
.right{
  width: 40%;
  float: left;
  height: 100%;
  text-align: right;
}
.newsImage{
  width: 85%;
  border-top-right-radius: .2rem;
  border-bottom-right-radius: .2rem;
}
.tab_one:hover{
  background-color: rgba(255, 255, 255, 0);
  border: .08rem solid rgb(255, 255, 255);
}
.new_345{
  color: rgb(255, 255, 255);
}
.new_345:hover{
  font-size: .8rem;
  color: rgb(255, 255, 255);
}
.nwHead{
  float: left;
  width: 75.5%;
  color: #666;
  text-align: left;
  padding-left: .5rem;
  background-color: rgba(58, 25, 77, 0);
}
.nwHead p{
  font-size: .9rem;
  color: #aaaaaa;
}
.inner_content{
  width: 95%;
  height: auto;
  padding: .8rem;
  padding-bottom: .9rem;
  border-radius: .3rem;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.15);
}
.beshrating{
  width: 4rem;
  float: right;
}
.card-header{
  border: none;
  color: #222;
  padding-bottom: 0;
}
.card{
  border: none;
  margin-bottom: .3rem;
}
.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.25rem;
  background-color: #e4e1e1;
}

.card-link{
  color: #222;
  font-weight: bolder;
}
.ratingKeys{
  width: 90%;
  border: 1px solid green;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}
#wnd{
  float: right;
  color: #ffffff;
  font-size: .85rem;
  padding: 0.4rem 0.6rem 0.4rem;
  border-radius: .8rem;
  background-color: #460161;
}
.button234{
  border: none;
  border-radius: 1rem;
  font-size: .80rem;
  margin-right: .5rem;
  color: rgb(255, 255, 255);
  background-color: #f24e6d;
}
#archives{
  float:right;
}
@media only screen and (min-width: 760px) {
  #root {
    width: 100vw;
    margin: 0px;
    max-height: 1224px!important;
    overflow: hidden;
    }
  .menubut_cont{
    width: 100%;
    height: 4.5rem;
    top: 20rem;
    margin-top: 8rem;
    margin-right: 0rem;
    background-color: rgba(238, 238, 238, 0);
    overflow: hidden;
  }
  .news{
    margin-top: 6.5rem;
  }
}
@media only screen and (min-width: 320px) {
  .news{
    padding-top: 1rem;
  }
  .news h4{
    font-size: 1.125rem;
  }
}