.search_up{
    position: absolute;
    visibility: visible;
    left: 0;
    width: 100%;
    top: 8.5rem;
    height: inherit;
    padding-top: 0;
    text-align: left;
    margin-top: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  .search_down{
    visibility: hidden;
  }
  .searchStuff{
    width: 20rem;
    height: inherit;
    margin-left: auto;
    margin-right: auto;
  }
  .search_up h4{
    float: left;
    margin-left: .7rem;
    margin-right: .7rem;
    width: 5rem!important;
  }