
.xs{
  width: 5.2rem;
  height: 1.5rem;
  padding: 0px;
  font-size: .8rem;
  margin-left: .5rem;
}
.about_logo{
  width: 12rem;
  padding: 2rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-radius: 1.5rem;
  border: .1rem solid #593173;
}
.aboutUp h4 {
  font-size: 1.1rem;
  color: black;
}
.btext{
  color: rgb(255, 255, 255);
}
.bline{
  width: 20%;
  color: rgb(255, 255, 255);
  margin-bottom: 3rem;
}
a{
  color: #593173;
  cursor: pointer;
}
a:hover{
  color: grey;
  font-size: 1.2rem;
}
.modal-body{
  background-color: #080313!important;
}
.modal-content{
  color: white;
  border: none;
  background-color: #080313!important;
}
.modal-content h4{
  color: white;
}
.modal-header, .close{
  color: white;
  border: none;
}