
.video{
  border: 1px solid brown;
}
.carousel_img {
  width: 100%;
  height: inherit;
  margin-top: 1rem;
}
.carousel_vid{
  width: 100%;
  margin-top: 1rem;
  height: 100%!important;
  max-height: 100%;
}
@media  screen and (min-width: 441px) {
  .carousel_img {
    width: 30%;
    height: inherit;
    margin-top: 1rem;
  }
}