.surfshark{
    width: 150px;
}
.cyberghost{
    width: 150px;
}
.private{
    width: 230px;
}
.windscribe{
    width: 50px;
    margin-right: 45%;
    margin-bottom: 1rem;
    -webkit-filter: brightness(0); /* Safari 6.0 - 9.0 */
    filter: brightness(0);
}
.icon141{
    color: rgb(72, 41, 97);
    text-align: center;
    margin-left: .5rem;
}
.btn-info {
    color: #fff;
    background-color: #f24e6d;
    border: none;
}