body {
  margin: 0px;
  font-family: 'Nunito', sans-serif "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./resources/appBck.png);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
html{
  zoom: 100%;
  scroll-behavior: smooth;
}
.row{
  margin-right: 0px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100vh;
}
.container{
  width: 100%;
  margin-top: 0rem;
  text-align: center;
  padding: 0;
  background-color: #fafafa00;
  min-height: 736px!important;
}
#root {
  width: 100vw;
  margin: 0px;
  max-height: 736px!important;
  overflow: hidden;
  }
h5{
  font-size: 1.2rem;
  margin-left: 0rem;
  margin-bottom: 1.5rem;
}
h4{
  font-size: 1.3rem;
}
#subtext{
  color: grey;
  margin-bottom: 2rem;
}
.browse_up h4{
  color: rgb(17, 10, 32);
  margin-top: 2rem;
}
.vpn_up h4{
  color: rgb(17, 10, 32);
  margin-top: 2rem;
}
a:hover {
  color: 
  #0056b3;
  text-decoration: none;
}
a{
  color: grey;
  outline: none;
}

button:active,
button:focus { 
    outline: none;
    -moz-outline: none;
    -webkit-outline: none; 
}
#message{
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1003;
  position: absolute;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.897);
}
#subscribe{
  width: 85%;
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  border-radius: .2rem;
  background-color: lemonchiffon;
}
