.navbar{
  padding: .5rem 0;
}
.bg-dark {
  z-index: 1000;
  border: none;
  text-align: right;
  font-size: .8rem;
  background-color: rgba(255, 255, 255, 0)!important;
}
.navbar-dark .navbar-nav {
  padding-right: 2rem;
  width: 100%;
  color: rgb(255, 255, 255);
  background-color: #b33d66;
  transition: ease-in-out;
}
.navbar-dark .navbar-toggler {
  padding-right: 2rem;
  padding-top: .8rem;
  border-color: rgba(255, 255, 255, 0);
}
.logo{
  width: 2rem;
}
.icon143{
  color:  rgb(255, 255, 255)!important;
}
.navbar-dark .navbar-brand {
  color: rgb(143, 141, 141);
  font-size: .9rem;
}