.card-body p{
    display: inline-block;
    margin-right: 10%;
}
.browse_up{
    left: 0px;
    position: absolute;
    visibility: visible;
    top: 8.5rem;
    width: 100%;
    height: 100vh;
    text-align: left;
    margin-top: 1.2rem;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  .browse_down{
    visibility: hidden;
  }
  .ico123{
    color: #4f3682b4;
  }